body {
    /* margin-top: 0px;
    margin-left: 0px; */
    margin: 0;  /* this makes the margin of all 4 sides equal to 0px. And, we don't need to write px in case of a zero */
    text-align: center;/*will center everything in body*/
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Sacramento', cursive;
    margin-top: 0 auto; /*equivalent to margin: 0 auto 0 auto*/
}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    
}
.bottom-container {
    
}
.pro {
    text-decoration: underline;
}
.top-cloud{
    position: absolute; /* takes the image out of the html flow */
    top: 50px;
    right: 300px;
}
.bottom-cloud{
    position: absolute; /* takes the image out of the html flow */ /*position becomes relative to top-container now*/
    left: 300px;
    bottom: 300px;
}
